{% extends "simulation_as_a_service/base.html" %}
{% load static %}

{% block content %}
    <h1>Contract Simulation</h1>

    <p>Ground Disc: {{ ground }}</p>
    <p>Express Disc: {{ express }}</p>
    <p>International Disc: {{ international }}</p>

    <table>
        <tr>
            <th>Service Type</th>
            <th>Service Guide Rate</th>
            <th>Net Amount</th>
            <th>Proposed Net Amount</th>
            <th>Savings</th>
        </tr>
        {% for dd in displayData %}
            <tr>
                <th>{{ dd.ServiceType }}</th>
                <th>{{ dd.ServiceGuideRate }}</th>
                <th>{{ dd.NetAmount }}</th>
                <th>{{ dd.ProposedNetAmount }}</th>
                <th>{{ dd.Savings }}</th>
            </tr>
        {% endfor %}
    </table>

{% endblock content %}
